* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bahnschrift;
    font-size: 1rem;
}
body {
    background-color: #f5f7f9;
}
header {
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header span {
    font-size: 7rem;
    font-family: "Edwardian Script ITC";
}
.document {
    background-color: white;
    width: 85%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5% auto 10% auto;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading p{
    font-size: 2rem;
    text-transform: uppercase;
}
.card_header {
    background-color: #179BAE;
    padding: 12px 10px;
    width: 100%;
    display: flex;
    margin: 25px 0 0 0;
    color: #fff;
    border-radius: 10px;
}
.card_header div {
    text-transform: capitalize;
}
.card_header div:first-child {
    width: 5%;
}
.card_header div:nth-child(2) {
    width: 70%;
}
.card_header div:nth-child(3) {
    width: 12.5%;
}
.card_header div:nth-child(4) {
    width: 12.5%;
}
.card_holder {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card div:first-child {
    width: 5%;
    padding-left: 5px;
}
.card a{
    width: 70%;
}
.card {
    margin: 5px 0 0 0;
    border: 1px solid #bbb;
    border-radius: 10px;
}
.card div:nth-child(3) {
    width: 12.5%;
}
.card div:nth-child(4) {
    width: 12.5%;
}
.card {
    display: flex;
    padding: 10px 10px;
}
.card a{
    color: #179BAE;
    transition: 0.3s;
}
.card a:hover{
    color: #FF8225;
}
.card:nth-child(even) {
    background-color: #eee;
}
.card_holder:nth-child(odd) {
    background-color: #fff;
}
.action_btn {
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: #179BAE;
    cursor: pointer;
    transition: 0.3s;
    margin: 25px 0;
}
.action_btn:hover {
    background-color: #FF8225;
}
.search_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_box_container input{
    padding: 8px 10px;
    border: 2px solid #ccc;
    outline: none;
    width: 85%;
    border-radius: 10px;
    margin-right: 15px;
}
.text_box_container input:focus{
    border: 2px solid #221fca;
}
.filter_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #eee;
    border-radius: 10px;
}
.filter_container_left, .filter_container_right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filter_container_left_element {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_container_right_element {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filter_container_right_element span{
    padding: 0 25px 0 0;
}
.filter_container_left_element input{
    padding: 8px 10px;
    border: 2px solid #ccc;
    outline: none;
    width: 80%;
    border-radius: 10px;
    margin-right: 15px;
}
.filter_container_right_element input {
    padding: 8px 10px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 10px;
    margin-right: 15px;
}
.filter_container_left_element input:focus, .filter_container_right_element input:focus {
    border: 2px solid #221fca;
}