<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title>QuoteSuite</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}" type="image/x-icon">
</head>
<body>
    <header>
        {{result_data}}
        <span>QuoteSuite</span>
    </header>
    <div class="document">
        <div class="heading">
            <p>All documents</p>
        </div>
        <div class="search_container">
            <div class="text_box_container">
                <input type="text" name="search_box" id="search_box" placeholder="Search...">
                <button class="action_btn" id="search_btn" onclick="fire_query()">Search</button>
            </div>
            <div class="filter_container">
                <div class="filter_container_left">
                    <div class="filter_container_left_element">
                        <span> Client Name: </span>
                        <input type="text" name="client_name_text_box" id="client_name_text_box">
                    </div>
                    <div class="filter_container_left_element">
                        <span> Description: </span>
                        <input type="text" name="client_desc_text_box" id="client_desc_text_box">
                    </div>
                </div>
                <div class="filter_container_right">
                    <div class="filter_container_right_element">
                        <span> Total: </span>
                        <input type="number" name="total_start" id="total_start" min="0" placeholder="Min" maxlength="8">
                        <input type="number" name="total_end" id="total_end" max="10000000" placeholder="Max" maxlength="8">
                    </div>
                    <div class="filter_container_right_element">
                        <span> Date: </span>
                        <input type="date" name="date_start" id="date_start" min="1994-01-01" max="">
                        <input type="date" name="date_end" id="date_end" min="1994-01-01" max="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card_header">
            <div>Sr no</div>
            <div>filename</div>
            <div>Modified</div>
            <div>Created</div>
        </div>
        <div class="card_holder">
<!-- 
            <div class="card">
                <div id="srno">1.</div>
                <a href="#">15-Aug-2024</a>
                <div id="modified_date">14-Aug-2024</div>
                <div id="created_date">02-Aug-2024</div>
                <input type="hidden" name="doc_id" value="">
            </div> -->

        </div>
        <div class="controls">
            <a href="/new_document" target="_blank"><button class="action_btn">Create New</button></a>
        </div>      
    </div>
    <input type="hidden" name="data_from_db" value="{{all_docs}}" id="data_from_db">
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>